/* This is a comment
GtkLabel {
    background-color: red;
}

GtkTextView {
    background-color: white;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
*/
.myview {
    background-color: white;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}


.notebook tab.top:active {
    background-image: -gtk-gradient (linear,
                                       left top,
                                       right bottom,
                                       color-stop(0.0, @bg_color),
                                       color-stop(0.33, white),
                                       color-stop(0.66, white),
                                       color-stop(1.00, @bg_color)
                                    );
/*
    background-image: -gtk-gradient (radial,
                                   center center, 0,
                                   center center, 1,
                                   color-stop(0.0, white),
                                   color-stop(0.20, @bg_color)
                                   );
*/
}


textview.view border.top {
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
